@CHARSET "ISO-8859-1";
/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
caption,th {
	text-align: left;

}
h1 {
	font-size: 50px;
	color:#444;
}
h2 {
	font-weight: 1000;
	font-size: 1.35em;
}
h3 {
	font-size: 1.35em;
	
}
h4,h5,h6 {
	font-weight: normal;
	font-size: 10px;
	margin:0;
	padding:0;
	color:#444;
}


/* Custom CSS
* --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.section{
	position: relative;
}

#rocket {
	position: fixed;
	top: 60%;
	left: 10%;
	z-index:100;
}

/* navigation menu */

#menu{
	text-align: center;
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#menu a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.35em;
	padding: 10px;
	/*background-color: #000;*/
	/*border-radius: 100px;*/
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;

}

@keyframes rock {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
#menu a:hover  {
	animation: rock;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
}

#menu a.active:hover  {
	animation: none;
}

#menu a.active::before,
#menu a.active::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
#menu a.active::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
#menu a.active::after{
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.content {
	position: relative;
	text-align: center;
	margin: auto;
}

.content_text_normal {
	padding-left: 10%;
	max-width: 80%;
	font-size: 1.30em;
}

#loader{
	position: fixed;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader.GIF) center no-repeat #fff;
}
#section0-name-div{
	color: white;
	font-size: 2em;
	font-family: 'Source Code Pro', ;
}

/* Smaller than 770px height */
@media screen and (max-height: 770px){
	
}

/* Smaller than 680px height */
@media screen and (max-height: 680px){
	
}

/* Smaller than 580px height */
@media screen and (max-height: 580px){
	h1{
		font-size: 4.5em;
	}
}

/* Smaller than 480px height */
@media screen and (max-height: 480px){
	
}

/*screen resolutions smaller than 620px width */
@media all and (max-width: 900px){
	
}
/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 890px){
	#menu a {
		margin: 5px;
		padding: 9px 12px;
	}
	#menu a.active {
		padding: 9px 12px;
	}
}
/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 650px){
	#menu{
		z-index: 9999;
	}
	#menu a {
		margin: 3px;
		padding: 9px 12px;
	}
	#menu a.active {
		padding: 9px 12px;

	}
}
/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 580px){
	#menu a,
	#menu a.active {
		padding: 8px 11px;
		font-size: 13px;
	}
	h1 {
		font-size: 2.7em;
	}
}

/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 480px){
	
}

@media screen and (max-width: 890px)  and (max-height: 680px) {
	
}

@media screen and (max-width: 650px)  and (max-height: 680px) {
	
}

@media screen and (max-width: 580px) and (max-height: 580px) {
}

@media screen and (max-width: 500px) and (max-height: 500px) {
}
