@CHARSET "ISO-8859-1";
/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
caption,th {
	text-align: left;

}
h1, h2 {
	padding: 0 10%; 
}
h1 {
	text-align: center;
	font-size: 50px;
	color:#444;
}
h2 {
	font-weight: 1000;
	font-size: 1.35em;
}
h3 {
	font-size: 1.35em;
	
}
h4,h5,h6 {
	font-weight: normal;
	font-size: 10px;
	margin:0;
	padding:0;
	color:#444;
}


/* Custom CSS
* --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

#rocket {
	position: fixed;
	top: 60%;
	left: 10%;
	z-index:100;
}

/*modification in fullpage css for navigation Dots*/
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}

#fp-nav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
      
#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}

/*have to modify this part for tooltips*/

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 225px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}

/*css for menu, login/register buttons, social media accounts*/
.header-top {
	background: transparent;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	height: 20%;
	z-index: 12;
}



	
#menubtn {
	position: fixed;
	width: 50px;
	float: right;
	right: 7px;
	height: 50px;
	display: inline-block;
	-webkit-transform: translateY(35px);
	-moz-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}

#menubtn i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

#menubtn i:nth-child(1) {
	top: 16px;
}

#menubtn i:nth-child(2) {
	top: 24px;
}

#menubtn i:nth-child(3) {
	top: 32px;
}

#menubtn.on {
	-webkit-transform: translate(-240px, 35px);
	-moz-transform: translate(-240px, 30px);
	transform: translate(-240px, 30px);
}
#menubtn.on i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(135deg);
	        transform: rotateZ(135deg);
}
#menubtn.on i:nth-child(2) {
	background: transparent;
}
#menubtn.on i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-135deg);
	        transform: rotateZ(-135deg);
}

#menu {
	background: #47a3da;
	position: fixed;
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

#menu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

#menu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

#menu a:hover {
	background: #258ecd;
}

#menu a.active {
	background: #afdefa;
	color: #47a3da;
}

.menu-right {
	right: -240px;
}

.menu-right.menu-open {
	right: 0px;
}

.menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-push-toleft {
	left: -240px;
}

#menu,
.menu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#social-media-details {
	position: fixed;
	bottom: 0px;
	right: 	17px;
	max-width: 30px;
	background: transparent;
	z-index: 70;
}
#social-media-details a {
	float: right;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	vertical-align: top;
    text-align: center;
	-webkit-font-smoothing: antialiased;
    speak: none;
}

.genericon::before{
        position: relative;
        font-size: 30px;
        overflow: visible;
        display: block;
        font-family: "Genericons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-transform: none;
        color: white;
}

/*css for text content in different sections*/
.content {
	position: relative;
	margin: 47px;
	/*text-align: ;*/
}

.content_text_normal {
	font-size: 1.30em;
	max-width: 80%;
	padding: 0 10%;
}

#section0-name-div{
	color: white;
	font-size: 2em;
	font-family: 'Source Code Pro', ;
}
.col-left,
.col-right {
	position: relative;
	width: 520px;
}

.col-left {
	float: left;
}
.col-right {
	float: right;
}
/*loader in the start*/
#loader{
	position: fixed;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader.GIF) center no-repeat #fff;
}

/*contact section*/
#map-canvas {
	margin-top:7%;
	height:70%;
	width:100%;
}

#contact-details{
	width:100%;
	height: 16%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-around;
	align-items: center;
}
.contact-details-common{
	height:100%;
	width:25%;
	color:white;
}
#contact-details-1{
	font-size: 0.9em;
	display:flex;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#contact-details-2{
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
}
#contact-details-3{
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
}

.contact-details-header{
	font-size: 1.3em;
	margin-bottom: 10px;
}





/*==================templates for making site responsive====================*/
/* Smaller than 770px height */
@media screen and (max-height: 770px){
	
}

/* Smaller than 680px height */
@media screen and (max-height: 680px){
	
}

/* Smaller than 580px height */
@media screen and (max-height: 580px){
	h1{
		font-size: 4.5em;
	}
}

/* Smaller than 480px height */
@media screen and (max-height: 480px){
	
}

/*screen resolutions smaller than 620px width */
@media all and (max-width: 900px){
	
}
/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 890px){
	
}
/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 650px){
	
}
/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 580px){
	
}

/*screen resolutions smaller than 620px  width*/
@media all and (max-width: 480px){
	
}

@media screen and (max-width: 890px)  and (max-height: 680px) {
	
}

@media screen and (max-width: 650px)  and (max-height: 680px) {
	
}

@media screen and (max-width: 580px) and (max-height: 580px) {
}

@media screen and (max-width: 500px) and (max-height: 500px) {
}
