html, body{
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}


  


.container-fluid{
    margin: 0%;
    padding: 0%;
}

.main{
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(212, 19, 89); */
    background-image: url('../images/hint-group-photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right:0%; margin-left:0%
    /* background-attachment: fixed; */
}

.overlay{
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(12, 20, 58, 0.9);
    z-index: 1;
}

.top-text{
    color: white;
    z-index: 3;
    font-weight: 500;
    padding-bottom: 0%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px){
    .top-text:hover{
        /* font-size: 18px; */
        color: blue;
    }
}



.nav-link{
    text-decoration: none;
    color: white;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: white;
}




@media screen and (min-width: 768px){
    .my-link:hover{
        color: blue;
    }

}
@media screen and (min-width: 768px){
    .top-text:hover{
        /* font-size: 18px; */
        color: blue;
    }

}


.header{
    text-align: center;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding-bottom: 1.5%;
    border-bottom: 2px solid white;
}

@media screen and (max-width: 992px){
    .header{
        width: 80%;
    }

    .top-text{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
    .header{
        width: 100%;
        top: 20px;
        padding-bottom: 20px;
    }

    .top-text{
        font-size: 10px;
    }
}

.logo{
    /* width: 80%; */
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: 1;
}

.main-content{
    position: relative;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Inconsolata', monospace;
    z-index: 2;
}

.name{
    color: white;
    font-size: 6em;
    transition: all 2s;
    font-family: 'K2D', sans-serif;    
    font-weight: 500;
}



.info{
    color: white;
    font-size: 2em;
    transition: all 2s;
}

.mobile-dropdown{
    display: none; 
    z-index: 4;
}

@media (max-width: 1400px){
    .name{
        font-size: 5em;
    }

    .info{
        font-size: 1.5em;
    }
}

@media (max-width: 992px){
    .name{
        font-size: 4em;
    }

    .info{
        font-size: 1.5em;
    }

    .logo{
        height: initial;
        width: 80%;
    }
}

@media (max-width: 768px){
    .name{
        font-size: 2.5em;
    }

    .info{
        font-size: 1em;
    }

    .mobile-dropdown{
        display: block;
        position: absolute;
        top: 0%;
        width: 100vw;
    }
}

@-webkit-keyframes dot-keyframes {
    0% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    100% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @keyframes dot-keyframes {
    0% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    100% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  .loading-dots {
    text-align: center;
    width: 100%;
    float: left;
  }
  .loading-dots--dot {
    -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
            animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
  }
  .loading-dots--dot:nth-child(2) {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
  .loading-dots--dot:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

.navigation{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 20%;
}

.more{
    color: white;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.5em;
    z-index: 2;
    opacity: 0.2;
    text-decoration: none;
    color: white;
}

.hint-logo{
    /* position: absolute; */
    width: 80%;
    z-index: 3;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* top: 2%;
    left: 2%;
    z-index: 2;
    opacity: 0.7; */
}


.image-column{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    /* margin: auto; */
    display: block;
}

.sponsor-image{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sponsors{
    margin-bottom: 200px;
}

.edition{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 600px;
    opacity: 0.1;
}


@media (max-width: 992px){
    .more{
        font-size: 2.5em;
    }

    .edition{
        font-size: 400px;
    }
}

@media (max-width: 768px){
    .more{
        font-size: 1.5em;
    }

    .edition{
        /* font-size: 200px; */
        font-size: 4px;
    }

    .hint-logo{
        width: 100%;
    }
}

.sponsors{
    padding-top: 5%;
}

.title{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px){
    .title{
        font-size: 2em;
    }
}


.footer{
    height: 20vh;
    background-color: rgba(12, 20, 58, 1);
    color: white;
    text-align: center;
}

.footer-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-logo{
    /* height: 40%; */
    height: 40%;
    width: initial;
    position: relative;
    top: 50%;
    /* left: 50%; */
    transform: translate(0, -50%);
}

.first-line{
    font-weight: 600;
}

@media screen and (min-width: 768px){
    .footer-links{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.code-of-conduct{
    font-size: 14px;
}

@media screen and (max-width: 1200px){
    .code-of-conduct{
        font-size: 10px;
    }
}

@media screen and (max-width: 992px){
    .code-of-conduct{
        font-size: 0.6em;
    }
}

@media screen and (max-width: 992px){
    .footer-logo{
        height: inherit;
        width: 60%;
        position: relative;
        border-bottom: 0px solid white;
    }
}

@media screen and (max-width: 768px){
    .footer-logo{
        height: inherit;
        width: 40%;
        position: relative;
        border-bottom: 0px solid white;
    }

    .logo-column{
        margin-bottom: 10px;
    }

    .footer{
        height: 40vh;
    }

    .code-of-conduct{
        font-size: 10px;
    }
}




@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.name-heading {
  color: rgb(255, 255, 255);
  font: normal 140px Varela Round, sans-serif;
  /* height: 140px; */
  /* left: 0; */
  letter-spacing: 5px;
  /* margin: -80px 0 0 0; */
  /* position: absolute; */
  text-align: center;
  text-transform: uppercase;
  /* top: 50%; */
  width: 100%;
  animation: move linear 2000ms infinite;  
  font-size: 80px;
}

@media screen and (max-width: 1400px){
    .name-heading{
        font-size: 50px;
    }
}

@media screen and (max-width: 994px){
    .name-heading{
        font-size: 40px;
    }
}

@media screen and (max-width: 768px){
    .name-heading{
        font-size: 20px;
    }

    @keyframes move {
        0% {
          text-shadow:
            2px -2px 0 #4C4491, 
            1px -1px 0 #4C4491, 
            1px -1px 0 #4C4491, 
            0px -0px 0 #4C4491,
            -2px 2px 0 #FD5C63, 
            -1px 1px 0 #FD5C63, 
            -1px 1px 0 #FD5C63, 
            -0px 0px 0 #FD5C63
          ;
        }
        25% {    
          text-shadow:      
            -2px -2px 0 #FD5C63, 
            -1px -1px 0 #FD5C63, 
            -1px -1px 0 #FD5C63, 
            -0px -0px 0 #FD5C63,
            2px 2px 0 #4C4491, 
            1px 1px 0 #4C4491, 
            1px 1px 0 #4C4491, 
            0px 0px 0 hsla(0, 100%, 50%, 1)      
          ;
        }
        50% {
          text-shadow:
            -2px 2px 0 #4C4491, 
            -1px 1px 0 #4C4491, 
            -1px 1px 0 #4C4491, 
            -0px 0px 0 #4C4491,
            2px -2px 0 #FD5C63, 
            1px -1px 0 #FD5C63, 
            1px -1px 0 #FD5C63, 
            0px -0px 0 #FD5C63
          ;
        }
        75% {
          text-shadow:
            2px 2px 0 #FD5C63, 
            1px 1px 0 #FD5C63, 
            1px 1px 0 #FD5C63, 
            0px 0px 0 #FD5C63,
            -2px -2px 0 #4C4491, 
            -1px -1px 0 #4C4491, 
            -1px -1px 0 #4C4491, 
            -0px -0px 0 hsla(0, 100%, 50%, 1)      
          ;
        }
        100% {
          text-shadow:
            2px -2px 0 #4C4491, 
            1px -1px 0 #4C4491, 
            1px -1px 0 #4C4491, 
            0px -0px 0 #4C4491,
            -2px 2px 0 #FD5C63, 
            -1px 1px 0 #FD5C63, 
            -1px 1px 0 #FD5C63, 
            -0px 0px 0 #FD5C63
          ;
        }  
      }
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #4C4491, 
      2px -2px 0 #4C4491, 
      2px -2px 0 #4C4491, 
      1px -1px 0 #4C4491,
      -4px 4px 0 #FD5C63, 
      -2px 2px 0 #FD5C63, 
      -2px 2px 0 #FD5C63, 
      -1px 1px 0 #FD5C63
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 #FD5C63, 
      -2px -2px 0 #FD5C63, 
      -2px -2px 0 #FD5C63, 
      -1px -1px 0 #FD5C63,
      4px 4px 0 #4C4491, 
      2px 2px 0 #4C4491, 
      2px 2px 0 #4C4491, 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #4C4491, 
      -2px 2px 0 #4C4491, 
      -2px 2px 0 #4C4491, 
      -0px 1px 0 #4C4491,
      4px -4px 0 #FD5C63, 
      2px -2px 0 #FD5C63, 
      2px -2px 0 #FD5C63, 
      1px -1px 0 #FD5C63
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #FD5C63, 
      2px 2px 0 #FD5C63, 
      2px 2px 0 #FD5C63, 
      1px 1px 0 #FD5C63,
      -4px -4px 0 #4C4491, 
      -2px -2px 0 #4C4491, 
      -2px -2px 0 #4C4491, 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #4C4491, 
      2px -2px 0 #4C4491, 
      2px -2px 0 #4C4491, 
      1px -1px 0 #4C4491,
      -4px 4px 0 #FD5C63, 
      -2px 2px 0 #FD5C63, 
      -2px 2px 0 #FD5C63, 
      -1px 1px 0 #FD5C63
    ;
  }  
}





  .edition > h1 {
    font-family: 'CoreCircus', sans-serif;
    font-size: 600px;
    text-align: center;
    line-height: 1;
    margin: 0;
    color: #2d2d2d;
    letter-spacing: -.5rem;
  }
  .edition > h1:before {
      display: inline-block;
    content: attr(data-heading);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* overflow: hidden; */
    color: #ffcc00;
    /* width: 100%; */
    z-index: 5;
    text-shadow: none;
    /* left: 50%; */
    /* transform: translatex(-50%); */
    margin: auto;
    /* text-align: center; */
    -webkit-animation: flicker 3s linear infinite;
            animation: flicker 3s linear infinite;
  }

  @media screen and (max-width: 768px){
      .edition > h1{
        font-size: 300px;
      }

      .edition > h1:before{
          top: 50%;
      }
  }
  
  @-webkit-keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }
  
  @keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }


.diversity{
    padding-top: 5%;
    /* padding-bottom: 5%; */
    width: 40%;
}

.diversity-title-row{
    margin-bottom: 5%;
}

.diversity-text-row{
    font-size: 20px;
    font-weight: 500;
    line-height: 300%;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Courier New', Courier, monospace;
}

.my-button{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width: 60%;
    height: 60px;
    font-size: 14px;
}

.rainbow-image{
    position: absolute;
    top: 110vh;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    opacity: 0.1;
    /* height: 100%; */
}

/* .rainbow{
    background-image: url('../images/rainbow.png');
} */

@media screen and (max-width: 1400px){

    .diversity{
        width: 60%;
    }

    .my-button{
        width: 50%;
        font-size: 12px;
    }
}

@media screen and (max-width: 992px){

    .diversity{
        width: 90%;
    }

    .diversity-text-row{
        font-size: 16px;
        line-height: 200%;
    }

    .my-button{
        width: 50%;
        font-size: 12px;
    }

    .rainbow-image{
        width: 100%;
    }
}


@media screen and (max-width: 768px){

    .diversity{
        width: 90%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .diversity-text-row{
        font-size: 12px;
        line-height: 200%;
    }

    .my-button{
        width: 70%;
        font-size: 10px;
    }
}
  


.d-block{
    height: 600px;
    /* transition: all 2s; */
}

.hint-carousel{
    width: 60%;
    position: relative;
    margin: auto;
    transition: all 2s;
}

@media screen and (max-width : 1400px){
    /* .hint-carousel{
        width: 100%;
    } */

    .d-block{
        height: 400px;
        /* transition: all 2s; */
    }
}


@media screen and (max-width : 992px){
    .hint-carousel{
        width: 100%;
    }

    .d-block{
        height: 500px;
        /* transition: all 2s; */
    }
}

@media screen and (max-width: 768px){
    .d-block{
        height: 200px;
        /* transition: all 2s; */
    }
}

.social-links{
    height: 50%;
}


@media screen and (max-width : 768px){
    .contacts{
        position: relative; 
        top: 20px;
    }
}

