body
{
	background-color: #808080;
}
#header
{
	height: 100px;
}

#box_area
{

	height: 520px;
	width:50%;
	border-radius: 5%;
	float:left;
	text-decoration: none;
	background-color: white;
	border: 5px  solid black;
}

.inputs
{
	height:20px;
	margin-left: 25px;
	font-size: 20px;
	color: black;
	font-style: bold;
	font-family: sans-serif;
}

.fields 
{
	height:25px;
	font-size: 20px;
	width:90%;
	border-radius: 2%;
	border:2px solid black;
}

.fields:focus,.fields.focus
{
	border-radius: 3%;
	border: 3px solid black;
}

#registerButton
{
	height: 50px;
	width:50%;
	margin-left: 25%;
	border-radius: 5%;
	border:1px solid black;
	background-color: yellow;
}

#logo
{
	margin-left: 40%;


}
#logo:onClick,#logo.onClick{
	border:3px solid black;
}
#left_area
{
	float: right;
	width:450px;
	height: 300px;
	margin-right: 125px;
	margin-top: 150px;
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 5%
}
