#awards {
   
    
}
 #awards .container-fluid {
margin : auto;
}
#awards .card {
    border : 0.1px solid rgb(180, 176, 176);
    border-radius : 3px;
    height:320px;
    width : 300px;
    display: inline-block;
    margin: 20px;
vertical-align: top;
box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.2);
-webkit-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

#awards .card:hover {
    box-shadow: 10px 10px 10px 0 rgba(46,61,73,0.2);
}



#awards .row{
    padding: 20px;
    text-align: center;
}
#awards .logo {
    /* border : 1px solid rgb(180, 176, 176); */
     height: 150px;
     margin: 10px;
    
  
}
#awards .logo img {
   width : 130px;
   height: 130px;
   padding : 10px;

}
#awards .descp h3 {
    text-align: center;
   margin: 2px;
   font-size: 29px;
   font-weight: bold;
  
   /* border : 1px solid rgb(180, 176, 176); */
}
#awards .descp  {
    height: 140px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    /* border : 1px solid rgb(180, 176, 176); */
 }
 #awards h1 {
     font-size: 50px;
     font-weight: bold;
 }