body {
    margin: 0px;
    font-family: Calibri;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: #444;
}

strong {
    color: #333;
}

.landing-section {
    position: static;
    max-height: 80vh;
    padding-top: 10vh;
    background-color: #fff;
}

.landing-section .centre-box {
    position: relative;
    width: 70%;
    margin: auto;
    text-align: center;
}

.logo-box {
    position: relative;
    max-width: 100%;
}

.logo-box .year {
    font-size: 10vh;
    font-weight: 100;
    margin: auto;
    text-align: center;
    color: #333;
}

.logo-box .logo {
    position: relative;
    height: 100%;
    width: 100%;
}

.location-date {
    position: relative;
    text-align: center;
    height: 4vh;
    width: 75%;
    margin: auto;
    font-size: 1.7vw;
}
.location-date .date-content{
    margin:auto;
    padding-left: 45vh;
}

.location-date .partition {
    float: left;
    border-right: 1px solid #333;
    height: 7vh;
    margin-left: 1vh;
}

.location-date .date {
    float: left;
    margin-top: 0.5vh;
    color: #333;
}

.location-date .location {
    float: left;
    margin-top: 0.5vh;
    margin-left: 1vh;
    color: #333;
}

.landing-footer {
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin-left: 8%;
    font-size: 3.5vh;
}

.nav-buttons {
    position: relative;
    width: 45%;
    height: 10vh;
    margin-left: 0px;
    padding-left: 10vh;
}

.button {
    position: relative;
    background-color: white;
    color: #333;
    float: left;
    text-align: center;
    margin: 0vh 5vh;
    padding: 2vh 3vh;
}

.button-sidemenu {
    position: relative;
    background-color: white;
    color: #333;
    float: left;
    width:90%;
    height:20px;
    text-align: center;
    margin: 0vh -5vh;
    padding: 2vh 3vh;
}

.btn1 {
    border: solid 2px #c22e5e;
}

.btn1:hover {
    background-color: #c22e5e;
    color: white;
}

.btn1:active {
 background-color: #c22e5e;
    color: white;   
}

.btn2 {
    border: solid 2px #e13f2a;
}

.btn2:hover {
    background-color: #e13f2a;
    color: white;
}

.btn3 {
    border: solid 2px #f5a71f;
}

.btn3:hover {
    background-color: #f5a71f;
    color: white;
}



.about-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
}

.section-title {
    position: relative;
    background-color: #c22e5e;
    max-width: 15em;
    margin: auto;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 5vh;
    color: white;
    font-weight: 100;
}

.sub-section {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 7vh;
    font-size: 1.3vw;
}


.faq-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
}

.faq-section-1 {
    text-align: left;
}

.question {}

.answer {
    padding-bottom: 2vh;
}

.faq-content:not(:last-child){
    float:left;
}


.faq-content {
    width:25%;
    margin-left:5%;
}

.sponsors-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
}

.sponsors-section-1 .sub-section-title {
    text-align: center;
    font-size: 4vh;
}

.sponsors-section-2 {
    text-align: center;
}

#brochure_link {
    max-width: 30vh;
    margin: auto;
}

.contact-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
    text-align: center;
}

.sponsors-section-2,
.contact-section-1,
.contact-section-2,
.contact-section-3 {
    border: solid 2px #c22e5e;
}

.contacts {
    position: relative;
    max-width: 40%;
    margin: 2vh auto;
    text-align: -webkit-auto;
}

.contact {
    position: relative;
    padding: 0 10%;
}

.contact .name {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 2% 5%;
    text-align: left;
}

.contact .number {
    position: relative;
    display: inline-block;
    text-align: right;
}

.footer {
    text-align: center;
    position: static;
    margin-top: 15vh;
}

.footer-content {
    position: relative;
    width: 70%;
    margin: auto;
    font-size: 3vh;
}

.parallelogram {
    /*background-color: #c9584b;*/
    /*background-color: #c22e5e;*/
    position: relative;
    transform: skewX(-30deg) scaleY(1.2);
}

.reverse-parallelogram {
    position: relative;
    transform: scaleY(0.833) skewX(30deg);
}

#team-link {
    font-size: 5vh;
    font-weight: 100;
    max-width: 40%;
    margin: auto;
    margin-bottom: 3vh;
}

#love-icon {
    height: 4vh;
}

.justify-text {
    text-align: justify;
}

/* header section */

    ul.form {
        position:relative;
        width:250px;
        margin:0px -250px;
        padding:0;
        overflow:hidden;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; 
        transition:margin-left 1s;
       
    }
    .form li{
        margin-bottom: 25px;
        margin-top: 50px;
    }

    .form li a {
        width:225px;
        padding-left:20px;
        height:50px;
        background: transparent;
        line-height:50px;
        display:block;
        overflow:hidden;
        position:relative;
        text-decoration:none;
        text-transform:uppercase;
        font-size:14px;
        color:#686868;
        
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear;         
    }

   

    .form li:first-child a:hover, .form li:first-child a {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .form li:last-child a:hover, .form li:last-child a {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

    .form li a:hover i {
        color:#ea4f35;
    }

    .form i {
        margin-right:15px;
        
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -o-transition:all 0.2s linear;
        transition:all 0.2s linear; 
    }

    .form em {
        font-size: 10px;
        background: #ea4f35;
        padding: 3px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;        
        font-style: normal;
        color: #fff;
        margin-top: 17px;
        margin-right: 15px;
        line-height: 10px;
        height: 10px;       
        float:right;
    }

    .form li.selected a {
        background:#efefef;
    }

    .main-header{
        display:inline;
        float:left;
        position:fixed;
    }
    .main-body{
        padding-left: 0px;
        margin-left: 0px;
    }

    .dropdownbutton{
        width:30px;
        float: right;
        margin-left: 5px;
    }

    ul.form.active{
        margin-left: -10px;
        transition:margin-left 1s;
    }

    hr{
        border: 2px solid black;
    }

    .abt-side.active div{
         background-color: #c22e5e;
          color: white;
    }

    .faq-side.active div{
         background-color: #e13f2a;
          color: white;
    }

    .sponsors-side.active div{
         background-color: #f5a71f;
          color: white;
    }

    .contacts-side.active div{
         background-color: #c22e5e;
          color: white;   
    }