/*All rules related to independent tags*/

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: #444;
}

strong {
    color: #333;
}


/*header*/

.nav-bar {
    position: fixed;
    top: 0;
    width: 80%;
    padding: 0 10%;
    background-color: #fff;
    z-index: 3;
    padding-top: 10px;
    font-size: 1.3vw;
}

.nav-bar ul {
    position: relative;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.not-landing {
    border-bottom: 1px solid #ccc;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
}

.active {
    color: #c22e5e;
    font-size: 1.2em;
    transform: translateY(-0.25em);
}


/*all rules related to landing section and further descendants*/

.landing-section {
    position: static;
    height: 80vh;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-bottom: 0;
    background-color: #fff;
}

.landing-section .centre-box {
    position: relative;
    width: 70%;
    margin: auto;
}

.logo-box {
    position: relative;
    margin: 0 5%;
}

.logo-box .year {
    font-size: 4vw;
    font-weight: 100;
    margin: auto;
    text-align: center;
    color: #333;
}

.logo-box .logo {
    position: relative;
    height: 100%;
    width: 100%;
}

.location-date {
    position: relative;
    text-align: center;
    height: 4vh;
    width: 100%;
    margin: auto;
    font-size: 1.7vw;
}

.location-date .partition {
    position: relative;
    display: inline;
    border-right: 1px solid #333;
    height: 200%;
}

.location-date .date {
    position: relative;
    display: inline;
    margin-top: 0.5vh;
    color: #333;
    width: 49.5%;
}

.location-date .location {
    position: relative;
    display: inline;
    margin-top: 0.5vh;
    margin-left: 1vh;
    color: #333;
    width: 49.5%;
}

.dotted-underline:hover {
    border-bottom: 1px dotted #222;
}


/*
    Subscribe Box starts
*/

.subscribe-box {
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    overflow: hidden;
    font-size: 1.2vw;
}

.button {
    position: relative;
    background-color: white;
    color: #333;
    text-align: center;
    margin: 0vh 5px;
    padding: 2vh 3vh;
}
.button a {
    display: block;
}
.btn1 {
    position: relative;
    display: inline-block;
    width: 30%;
    border: solid 2px #c22e5e;
}

.btn1:hover {
    background-color: #c22e5e;
    color: white;
}

.btn1:active {
    background-color: #c22e5e;
    color: white;
}

.btn2 {
    position: relative;
    display: inline-block;
    border: solid 2px #e13f2a;
}

.btn2:hover {
    background-color: #e13f2a;
    color: white;
}

.btn3 {
    position: relative;
    display: inline-block;
    width: 30%;
    border: solid 2px #f5a71f;
}

.btn3:hover {
    background-color: #f5a71f;
    color: white;
}


/*all rules related to about section and further descendants*/

.about-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
}

.section-title {
    position: relative;
    background-color: #c22e5e;
    max-width: 15em;
    margin: auto;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 5vh;
    color: white;
    font-weight: 100;
}

.sub-section {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 7vh;
    font-size: 1.3vw;
}


/*all rules related to faq section and further descendants*/

.faq-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
}

.faq-section-1 {
    text-align: left;
}

.question {}

.answer {
    padding-bottom: 2vh;
}

.faq-content:not(:last-child) {
    float: left;
}

.faq-content {
    width: 25%;
    margin-left: 5%;
}


/*all rules related to sponsors section and further descendants*/

.sponsors-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
}

.sponsors-section-1 .sub-section-title {
    text-align: center;
    font-size: 4vh;
}

.sponsors-section-2 {
    text-align: center;
}

#brochure_link {
    max-width: 30vh;
    margin: auto;
}


/*all rules related to contacts section and further descendants*/

.contact-section {
    position: static;
    padding: 10vh;
    padding-bottom: 0vh;
    padding-top: 15vh;
    text-align: center;
}

.sponsors-section-2,
.contact-section-1,
.contact-section-2,
.contact-section-3 {
    border: solid 2px #c22e5e;
}

.contacts {
    position: relative;
    /*max-width: 40%;*/
    margin: 2vh auto;
    text-align: -webkit-auto;
}

.contact {
    position: relative;
    margin: auto;
    padding: 0 10%;
    text-align: center;
}

.contact .name {
    position: relative;
    display: inline-block;
    width: 8em;
    padding: 2% 1%;
    text-align: left;
}

.contact .number {
    position: relative;
    display: inline-block;
    /*text-align: right;*/
}


/*all rules related to footer and further descendants*/

footer {
    text-align: center;
    position: static;
    margin-top: 15vh;
    padding-bottom: 50px;
}

.footer-content {
    position: relative;
    width: 70%;
    margin: auto;
    font-size: 3vh;
}

#team-link {
    font-size: 5vh;
    font-weight: 100;
    max-width: 40%;
    margin: auto;
    margin-bottom: 3vh;
    border: solid 2px #c22e5e;
}

#team-link:hover {
    background-color: #c22e5e;
    color: white;
}

#team-link:active {
    background-color: #c22e5e;
    color: white;
}

.parallelogram {
    /*background-color: #c9584b;*/
    /*background-color: #c22e5e;*/
    position: relative;
    transform: skewX(-30deg) scaleY(1.2);
}

.reverse-parallelogram {
    position: relative;
    transform: scaleY(0.833) skewX(30deg);
}

#love-icon {
    height: 4vh;
}

.justify-text {
    text-align: justify;
}

body {
  margin-top: 35px;
}
#countdown {
  width: 100%;
  margin: auto;  
  text-align: center;
  color: #3d3d3d;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 4em;
  border-top: .1em solid;
  border-bottom: .1em solid;
}
