/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body{
    font-family: 'Montserrat', serif;
    color: #737373;
    letter-spacing: normal;
    padding-top: 85px; 
    height: 100%;
}

/********************************** NAVIGATION ********************************/

nav{
    margin-bottom: 0 !important;
    z-index: 3;
}
a.nav-link{
    color: #737373;
}
a.nav-link:hover, a.nav-link:focus, a.nav-link:active{
    color: #FD5C63 !important;
    text-decoration: none !important;
    border: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    background: transparent !important;
}
a.call-to-action{
    color: #66BFBF;
    font-weight: 600;
}
a.call-to-action:hover, a.call-to-action:focus, a.call-to-action:active{
    text-decoration: none !important;
    border: none;
    cursor: pointer;
    background: transparent !important;
}
.navbar-nav>li>a{
    padding: 0 !important;
}

.hint-logo {
    max-width: 12em;
    padding-top: 7px;
}

li{
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    letter-spacing: normal;
}

.navbar-nav{
    margin: 0 !important;
}
.icon-bar{
    background-color: #737373;
}
.navbar-toggle{
    margin: 0;
    padding-top: 28.5px;
    padding-right: 35px;
}
.navbar-right{
    margin: 0;
    background-color: rgba(255,255,255,0.92);
}
.container>.navbar-header{
    margin: 0;
}
#nav_home_small{
    display: none;
}
#nav_home_big{

}
#nav_about_small{
    display: none;
}
#nav_about_big{

}

.navbar-toggle .icon-bar{
    height: 3px !important;
}
.collapsed-shadow{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.05)
}

.custom-nav-changes{
    background-color: white;
    height: 81px;
}
.shadow-header{
    box-shadow: 0 0 10px #9d9d9d;
}
.transition-nav{
    transition: all 0.1s ease-in-out;
}

/********************************** LANDING ********************************/

#big-hint-logo {
    max-width: 100%;
}
.parallax{
    position: relative;
    top: 0;
    left: 0;
}
.img1{
    position: relative;
}
.landing-container .row {
    /*border: 1px solid black;*/
    margin-top: 2vh;
}

.landing-subtitle {
    font-size: 1.8em;
}

#landing {
    height: 90vh;
}

.landing-btn {
    background: #fff;
    color: #A95179;
    border-radius: 0;
    border: 1px solid #A95179;
    min-width: 10em;
    margin-bottom: 1vh;
}

.landing-btn:hover{
    color: #87345a;
    border: 1px solid #87345a; 
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}

/********************************** ABOUT ********************************/

.about-image {
    max-width: 100%;
}


#about {
    margin-bottom: 10vh;
}

#about {
    font-family: 'Open Sans', serif;;
}

#about h1,
#about h2,
#about h3 {
    font-family: 'Open Sans', serif;;
}

/********************************** FAQ ********************************/


#faq {
  background-image: url(../img/collage1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
  margin-bottom: 10vh; }
  #faq .contents {
    padding: 50px 10%;
    text-align: center;
    font-size: 20px; }
  #faq h3 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 30px; }
  #faq .faqcolumn {
    width: 45%;
    display: inline-block;
    margin: 0px 1%;
    vertical-align: top; }
  #faq .faqelem {
    text-align: left;
    margin-bottom: 20px; }
  #faq .question {
    background-color: #fff;
    color: #737373;
    padding: 20px 20px 14px 20px;
    cursor: pointer; }
  #faq .question:after {
    color: #536bb1;
    -webkit-font-smoothing: antialiased;
    content: "<";
    position: relative;
    float: right;
    font-size: 1em;
    font-weight: bold;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  #faq .question.open:after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  #faq .answer {
    border: 3px solid #fff;
    padding: 0px 20px;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    padding-right: 2em; }
    #faq .answer a {
      color: #fff; }
  #faq .activeanswer {
    padding: 20px;
    max-height: 100%; }

  #faq .flipButton:after {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

@media screen and (max-width: 968px) {
  #faq .faqcolumn {
    width: 100%; } }

    

/********************************** SPONSORS ********************************/

.last-year-spsr {
    max-width: 100%;
}

/********************************** CONTACT ********************************/

#contact {
    margin-bottom: 10vh;
}

.contact-title {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .03em;
}

/********************************** FOOTER ********************************/


#footer {
  background:linear-gradient(330deg, #4C4491 0%, #FD5C63 100%);
  color: #fff; 
}
#footer .footer-text{
    font-size: 1.2em;
    line-height: 1.8em;
}
#footer i {
    color: #fff;
    font-size: 2em;
    margin-right: 1em;
}

#footer i:hover {
    color: #7FDBFF;
}

#footer .contents {
    padding: 40px 0%;
}
#footer .social {
    margin-top: 2em;
}
#footer .socialicon {
    max-height: 30px;
    margin: 0px 10px;
}
.footer-team-link {
    color: white;
    font-size: 1.2em;
}
.footer-team-link:hover {
    color: #7FDBFF;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.not-active {
   pointer-events: none;
   cursor: default;
}

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
