/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    background-color: #f2f2f2;
}

.heading{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #464c3e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8em;
}

/*
  Button Group Styling Starts
*/

.controls-holder{
  margin:20px auto 20px auto;
}

.btn-group {
  position: relative;
  display: inline-block;
  border:1px sold red;
}

.btn-group .btn {
  cursor: pointer;
  float: left;
  height: 40px;
  width: 160px;
  line-height: 40px;
  text-align: center;
  -webkit-user-select: none;
  transition: font-size 0.3s ease;
}

.btn-group .btn:active {
  font-size: 0.8em;
}

.btn-group svg {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.btn-group path {
  fill: none;
  stroke: #19cc95;
  stroke-dasharray: 334.9, 99999;
  transition: stroke-dashoffset 1s cubic-bezier(0, 0.8, 0.2, 1);
  stroke-width: 1;
}

.container {
  font-family: sans-serif;
  font-weight: 300;
  color: #19cc95;
  text-align: center;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  border:1px sold blue;
}

/*
  Button Group Styling Starts Ends
*/

#cardframe {
  text-align: justify;
  margin-top: 8vw;
  margin-left:5%;
  margin-right:5%;
}

#cardframe .card,
#cardframe .gap {
  display: inline-block;
  width: 23.5%;
  margin-left: 1%;
}

/*
    Card Styling
*/

#cardframe .card {
  text-align: left;
  background: #fff;
  margin-bottom: 2%;
  border-radius: 0.5%;
  height:20vw;
  text-align: center;
  padding-top: 2vw;
}

#cardframe .mix{
  display: none;
}

.card .card-image{
    border-radius: 100%;
    position: relative;
    height: 10vw;
}

.card p{
    color: rgba(70,76,62,0.4);
    font-weight: 1000;
    font-size: 2vw;
    font-family: 'Source Sans Pro';
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media all and (max-width: 979px){
  #cardframe .card,
  #cardframe .gap{
    width: 32%;
  }
}

@media all and (max-width: 767px){
  #cardframe .card,
  #cardframe .gap{
    width: 45%;
  }
}

@media all and (max-width: 639px){
  #cardframe .card,
  #cardframe .gap{
    width: 80%;
  }
}

@media (max-width: 30em) {
  body {
    zoom: 0.75;
  }
}

@media (max-width: 25em) {
  body {
    zoom: 0.5;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
