html, body{
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(255, 254, 254, 0);
    position: absolute;
    top: 0%;
}

*:focus {
    outline: none;
}

button{
    outline: none;
    -webkit-appearance: none;
}

.navbar-toggler{
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.navbar-toggler:focus{
    -webkit-appearance: none;
    outline: none;
}


@font-face{
    font-family: circularStd;
    src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face{
    font-family: circularStdMedium;
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face{
    font-family: circularStdBook;
    src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

.collapsible {
    background-color: #FBFBFB;
    color: #575757;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: circularStdMedium;
    font-size: 20px;
    -webkit-appearance: none;
}

.collapsible:focus{
    outline: none;
    -webkit-appearance: none;
}

.collapsible:before{
    padding-right: 10%;
}

.faq-collapsible{
    border-bottom: 2px solid #b6b6b6;
}

a, a:hover, a:after, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}

button:hover, .btn:hover, .btn:visited, .btn:active{
    background-color: inherit;
    color: inherit;
    outline: none;
}

#mainNav{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color:white;
    padding-top: 4%; 
    padding-left: 10%; 
    padding-right: 10%;
    transition: all 0.6s;
}

@media screen and (max-width: 992px){
    #mainNav{
        padding-left: 4%; 
        padding-right: 4%;
    }

    .navbar-list{
        border-bottom:2px solid rgb(212, 212, 212); 
        border-top:2px solid rgb(212, 212, 212); 
        padding-bottom: 4%;
        margin-top: 2%;
    }
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #715EFF;
    float: right;
    margin-left: 5px;
    outline: 0;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #FF6C56;
}

/* .active, .collapsible:hover {
background-color: #555;
} */

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: circularStdBook;
    color: #818181;
    font-size: 18px;
    /* background-color: #f1f1f1; */
}

.nav-item{
    font-family: circularStdBook;
    font-size: 20px
}

.pointer-svg{
    width: 10%;
}

.calendar-svg{
    width: 12%;
}


@media screen and (max-width: 992px){
    .collapsible{
        font-size: 16px;
    }

    .content{
        font-size: 14px;
    }

    .nav-item{
        margin-top: 4%;
        font-size: 16px;
    }

    .pointer-svg{
        width: 15%;
    }
    
    .calendar-svg{
        width: 18%;
    }
}

@media screen and (max-width: 768px){
    .collapsible{
        font-size: 14px;
    }

    .content{
        font-size: 12px;
    }
}




.navbar-title{
    font-weight: 700;
    background: linear-gradient(to right, #6C63FF 0%, #FF6C56 60%, #FFDB2E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-light {
    /* background-color: #f8f9fa!important; */
    background-color: #ffffff!important;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    /* color: rgba(41,41,41,.7);
    font-weight: 500;
    font-size: 18px; */
}

.landing-page{
    height: 100vh;
    width: 100vw;
    min-height: 600px;
}

.commitment{
    padding-top: 10%;
    padding-bottom: 10%;
}

.timeline{
  padding-top: 10%;
  padding-bottom: 10%;
}

.about{
    padding-top: 10%;
    padding-bottom: 10%;
}

.faq{
    padding-top: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 768px){
    .faq, .commitment, .about, .timeline{
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

.landing-contents{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 35%;
}


.logo-img{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.landing-nav-btn{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    border-width: 3px;
    font-family: circularStdMedium;
    font-size: 20px;
}

.landing-info{
    font-size: 20px;
    color: gray;
    font-family: circularStdMedium;
    margin-top: 10%;
}



@media screen and (max-width: 1400px){

    .landing-contents{
        width: 40%;
    }


    .landing-nav-btn{
        font-size: 16px;
        width: 100%;
    }

    .landing-info{
        font-size: 16px;
    }
}

@media screen and (max-width: 992px){

    .landing-contents{
        width: 60%;
    }

    .landing-nav-btn{
        font-size: 14px;
        width: 100%;
    }

    .landing-info{
        font-size: 14px;
        color: gray;
    }
}

@media screen and (max-width: 768px){

    .landing-contents{
        width: 60%;
    }

    .landing-nav-btn{
        font-size: 14px;
        width: 80%;
        margin-top: 10px;
    }

    .landing-info{
        font-size: 12px;
        color: gray;
    }
}

/* @media screen and (max-height: 300px) and (max-width: 768px){
    .landing-page{
        margin-top: 5%;
    }

    .landing-contents{
        width: 40%;
    }

    .landing-nav-btn{
        font-size: 8px;
        width: 50%;
        margin-top: 10px;
    }

    .landing-info{
        font-size: 10px;
        color: gray;
        font-weight: 600;
    }
} */




.winner-img{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winner-timeline-img{
  width: 90%;
  position: relative;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.timeline-img{
  width: 100%;
  position: relative;
  top: 60%;
  right: 65%;
  transform: translate(50%, -50%);
}

.woman-img{
    position: absolute;
    right: 0;
    width: 160%;
}

.about-img{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.commitment-text{
    text-align: right;
    margin-right: 10%; 
    margin-left: 10%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.timeline-text{
  text-align: right;
  margin-right: 30%; 
  margin-left: 5%;

}

.commitment-title, .faq-heading, .about-title, .timeline-title {
    font-size: 45px;
    font-family: circularStd;
    color: #575757;
}


.commitment-contents{
    margin-top: 5%;
    font-size: 20px;
    font-family: circularStdBook;
    color: #818181;
    line-height: 150%;
}

.about-text{
    text-align: left;
    margin-right: 10%; 
    margin-left: 10%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.about-contents{
    margin-top: 5%;
    font-size: 20px;
    font-family: circularStdBook;
    color: #818181;
    line-height: 150%;
}

.faq-column{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.faq-column{
    margin-right: 30%;
    margin-left: 5%;
}

.faq-title{
    margin-left: 30%;
    margin-right: 5%;
}


.faq-text{
    font-family: circularStdBook;
    font-size: 18px;
}


@media screen and (max-width: 1400px){
    .winner-img{
        width: 80%;
    }

    .timeline-img{
      width: 110%;
  }
}

@media screen and (max-width: 992px){
    .winner-img{
        width: 50%;
        /* margin-top: 5%; */
    }
    
    .winner-timeline-img {
        height: 75%;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -40%);
    }

    .timeline-img {
      width: 80%;
      margin-left: 10%;
    }


    .commitment-text, .about-text{
        text-align: center;
        /* margin-top: 5%; */
    }

    .timeline-text {
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }

    .commitment-title, .about-title, .faq-heading, .timeline-title{
        font-size: 30px;
    }

    .commitment-contents,.about-contents {
        font-size: 14px;
    }

    .faq-text{
        font-size: 14px;
    }

    .faq-column{
        margin-right: 5%;
        margin-left: 5%;
    }

    .faq-title{
        margin-left: 5%;
        margin-right: 5%;
    }

    .woman-img{
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    .winner-img{
        width: 50%;
        /* margin-top: 5%; */
    }

    .timeline-img {
      width: 100%;
      margin-left: 10%;
    }

    .commitment-text, .about-text, .timeline-text{
        text-align: center;
        /* margin-top: 5%; */
    }

    .commitment-title, .about-title, .faq-heading, .timeline-title{
        font-size: 30px;
    }

    .commitment-contents, .about-contents{
        font-size: 14px;
        line-height: 120%;
    }

    .faq-title{
        margin-bottom: 40%;
    }

    .faq-text{
        font-size: 14px;
    }

    .about-img{
        margin-bottom: 5%;
    }
}

.sponsor-us{
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to right, #6C63FF 0%, #FF6C56 60%, #FFDB2E 100%); 
}

.sponsor-us-row{
    color: white;
    font-size: 20px;
    font-family: circularStdBook;
}


.sponsor-image{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sponsors{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.image-column{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    /* margin: auto; */
    display: block;
}

.sponsor-title{
    font-family: circularStd;
    color: #575757;
    font-size: 45px;
}


@media screen and (max-width: 992px){
    .sponsor-title{
        font-size: 30px;
    }

    .sponsor-us-row{
        font-size: 18px;
    }

    .sponsor-us{
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 768px){
    .sponsor-title{
        font-size: 30px;
    }

    .sponsor-us-row{
        font-size: 14px;
    }

}


@media screen and (max-width: 400px){
    .sponsor-us-row{
        font-size: 12px;
    }
}


.footer{
    padding-top: 6%;
    padding-bottom: 3%;
}

.footer-row{
    width: 35%;
    margin: auto;
    text-align: center;
    margin-bottom: 3%;
}

.footer-title{
    font-weight: 600;
    background: linear-gradient(to right, #6C63FF 0%, #FF6C56 60%, #FFDB2E 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-family: circularStdBook;
}

.footer-info{
    font-family: circularStdBook;
    font-size: 20px;
    color: #575757;
    line-height: 140%;
}

.footer-social-links{
    font-family: circularStdBook;
    font-size: 20px;
    color: #818181;
}



@media screen and (max-width: 992px){
    .footer-row{
        width: 50%;
    }

    .footer-info, .footer-social-links{
        font-size: 16px;
    }
}


@media screen and (max-width: 768px){
    .footer{
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .footer-row{
        width: 80%;
        margin-bottom: 5%;
    }

    .footer-title{
        font-size: 18px;
    }

    .footer-info, .footer-social-links{
        font-size: 14px;
    }
}

/*-------- Previous Speakers Section starts ----------*/

.previous-speakers{
    padding-top: 5%;
    padding-bottom: 5%;
}

.circle{
    margin: 0 auto;
    margin-top:30px;
    background-size: 170%;
    background-position:center;
    border-radius:50%;
    border:4px solid #FFFFFF;
    width:156px;
    height:156px;
    -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.speaker-row {
    margin-left: 10%;
    margin-right: 10%;
    /* padding-left: 8%;  
    padding-right: 8%;  
    align-items: center;
    text-align: center;
    width: 100%; */
}

.circle-holder {
    margin: 0px 0px;
    padding: 0px 0px;
}

.speaker-title{
    font-size: 45px;
    font-family: circularStd;
    color: #575757;
    text-align: center;
    margin-bottom: 2%;
}

.speaker-text {
    text-align: center;
    font-size: 20px;
    font-family: circularStdBook;
    padding: 1px 1px;
    margin: 0px 0px;
}

.speaker-company {
    color: #575757;
}


.speaker-name {
    color: #575757;
    font-weight: bold;
}

.speaker-about {
    color: #818181;
}

@media screen and (max-width: 1400px){
    .speaker-row {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (max-width: 992px){
    .speaker-company {
        font-size: 14px;
    }
    
    .speaker-name {
        font-size: 14px;
    }
    
    .speaker-about {
        font-size: 14px;
    }

    .previous-speakers{
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 768px){
    .speaker-title{
        font-size: 30px;
    }

    .previous-speakers{
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

/*-------- Previous Speakers Section ends  ----------*/
