body{
	
}
#header{
	height: 150px;
	text-align: center;
}
#section_h1{
	
	height:250px;
	width:100%;
	visibility: hidden;
}
#logo{
	width:45%;
	top:2%;
	height:90%;
	visibility: visible;
	float:left;
	text-align: center;
}
#firefox,#google_developers,#image3,#image4,#image5,#image6{
	height: 200px;
	width:100%;
	visibility: hidden;
}
#text_space{
	height: 250px;
	width:45%;
	float: right;
	margin-right: 8%;
}

#form{
	background-color: #555;
	height: 250px;
	width: 100%;
	color: white;
	padding-left: 80%;
}
.inputs{
	color: black;
}
