html{
    scroll-behavior: smooth;
}

body
{
    font-size: 10px;
    color:white;
    margin: 0;
    padding: 0;
    background-color: black;
}

a.nav-link
{
    font-size: 1.2rem;
    color:white !important;
}

#mainNav
{
    padding-right: 60px;
    padding-top: 30px;
    background: transparent !important;
}

.home-page
{
    height: 100vh;
    width: 100%;
    background-color: #040a35;
}


    .heading {
        max-width: 60%;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }


.heading h1
{
    letter-spacing: 1px;
    font-size: 5em;
    margin-bottom: 0.5em;
}


.event
{
    padding: 0;
    margin-bottom: 30px;
}

.event li
{
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
}

#time
{
    margin-left: 50px;
}

.schedule i
{
    margin-right: 5px;
}

.dev
{
    background-color: transparent;
    color: white;
    padding: 8px 32px 10px;
    font-size: 1.5em;
    /* border: none; */
    border-radius: 24px;
    border-color: white;
    border-width: 1.8px;
    font-weight: 400;
}

.about
{
    background-color: #0b0d0f;
    width: 100%;
    max-height: 120vh;
}

#line img
{
    width: 40%;
}

#triangle img
{
    width: 80%;
    margin-top: 100px;
    margin-left: 12%;
}

#mainNav, #triangle
{
    overflow: hidden;
}

#content div
{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}



#content div h1
{
    font-size: 4em;
    margin-bottom: 70px;
}

#content
{
    position: relative;
    top:0%;
    left:50%;
    transform: translate(-50%, -120%);
    width: 100%;
}

#content div p
{
    font-size: 1.2rem;
    max-width: 90%;
    margin-left: 5%;
   
}

.commitment
{
    width: 100%;
    background-color: #F79737;
    height: 100vh;
}

.up
{
    width:100%;
    margin-bottom: -5px;
}

.down
{
    width: 100%;
    margin-top: -5px;
}

.row
{
    margin: 0;
}


button.navbar-toggler
{
    background-color: white;
}

#zigzag img
{
    float: right;
    margin-right: 10%;
    width: 16%;
}

#square img
{
    width: 90%;
    margin-top: 7%;
}

#com-content div
{
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
}

#com-content div h1
{
    font-size: 4em;
    margin-bottom: 50px;
}

#com-content div p
{
    font-size: 1.2rem;
    max-width: 90%;
    margin-left: 5%;
   
}


.main-commit
{
    position: relative;
    top: 0;
    transform: translate(0%, -23%);
}

#com-content
{
    position: relative;
    top: 0;
    transform: translate(0%, -120%);
    z-index: 5;
    text-align: center;
}

@media screen and (min-width: 1300px)
{
    #content div p {
        font-size: 1.2rem;
        max-width: 75%;
        margin-left: 12.5%;
    }

}

@media screen and (max-width: 1300px)
{
    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    #square img {
        width: 100%;
        margin-top: 5%;
    }

    #content
    {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -105%);
        width: 100%;
    }

    #content div
    {
        max-width: 65%;
    }

    .main-commit
    {
        position: relative;
        top: 0;
        transform: translate(0%, -21%);
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -107%);
        z-index: 5;
        text-align: center;
    }

}

@media screen and (max-width: 1100px)
{
    #square img {
        width: 110%;
        margin-top: 10%;
    }

    #content
    {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -112%);
        width: 100%;
    }

    #content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -126%);
        z-index: 5;
        text-align: center;
    }

    #com-content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }
    


}

@media screen and (max-width: 992px)
{
    #content div
    {
        max-width: 75%;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
    }

    #square img {
        width: 110%;
        margin-top: 26%;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div {
        max-width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    #triangle img {
        width: 92%;
        margin-top: 100px;
        margin-left: 12%;
    }

    #content div h1 {
        font-size: 4em;
        margin-bottom: 40px;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -116%);
        z-index: 5;
        text-align: center;
    }
}

@media screen and (max-width:850px)
{
    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -100%);
        z-index: 5;
        text-align: center;
    }
}

@media screen and (max-width:780px)
{
    #square img {
        width: 130%;
        margin-top: 22%;
    }

    #content div {
        max-width: 80%;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -95%);
        width: 100%;
    }

    #triangle img {
        width: 92%;
        margin-top: 150px;
        margin-left: 12%;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -101%);
        z-index: 5;
        text-align: center;
    }
}

@media screen and (max-width: 640px)
{

    #content div h1 {
        font-size: 3.5em;
        margin-bottom: 40px;
    }

    #content div
    {
        max-width: 100%;
    }

    #content div p {
        font-size: 1.6em;
    }

    #com-content div p {
        font-size: 1.6em;
    }

    #com-content div {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #square img {
        width: 118%;
        margin-top: 63%;
    }

    #triangle img {
        width: 100%;
        margin-top: 150px;
        margin-left: 12%;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -97%);
        z-index: 5;
        text-align: center;
    }
}


@media screen and (max-width: 575px)
{
    #line img {
        width: 25%;
    }


    #triangle img {
        width: 57%;
        margin-top: 73px;
        margin-left: 14%;
    }

    #com-content div {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }

    #zigzag img
    {
        display: none;
    }

    #square img {
        width: 69%;
        margin-top: 32%;
        margin-left: 18%;
    }

    .heading h1
    {
        font-size: 4em;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -106%);
        width: 100%;
    }

    #com-content {
    position: relative;
    top: 0;
    transform: translate(0%, -104%);
    z-index: 5;
    text-align: center;
}
}

@media screen and (max-width: 440px)
{

    .heading
    {
        max-width: 100%;
    }

    #line img {
        width: 25%;
    }

    #triangle img {
        width: 80%;
        margin-top: 165px;
        margin-left: 22%;
    }

    #com-content div {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }

    #zigzag img
    {
        display: none;
    }

    .heading h1
    {
        font-size: 4em;
    }

    #square img {
        width: 100%;
        margin-top: 66%;
        margin-left: 0;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -87%);
        z-index: 5;
        text-align: center;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
    }

    #triangle img {
        width: 95%;
        margin-top: 130px;
        margin-left: 0%;
    }
}

#com-content div p a
{
    color: #ffffff;
}

.sponsorship
{
    padding-top: 300px;
    height: 1200px;
}

#female-pic
{
    width: 80%;
    margin: 0 auto;
}

#female-pic img
{
    width: 80%;
}

