html{
    scroll-behavior: smooth;
}

body
{
    font-size: 10px;
    color:white;
    margin: 0;
    padding: 0;
    background-color: #0C0C0C;
   
}

a.nav-link
{
    font-size: 1.2rem;
    color:white !important;
}

#mainNav
{
    padding-right: 60px;
    padding-top: 30px;
    background: transparent !important;
}

.home-page
{
    height: 100vh;
    width: 100%;
    background-color: #040a35;
}


    .heading {
        max-width: 60%;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }


.heading h1 {
    letter-spacing: 1px;
    font-size: 6.5em;
    margin-bottom: 0.3em;
}

.event
{
    padding: 0;
    margin-bottom: 30px;
}

.event li {
    list-style: none;
    display: inline-block;
    font-size: 2.2em;
    font-weight: 500;
}

#time
{
    margin-left: 50px;
}

.schedule i
{
    margin-right: 5px;
}

.dev
{
    background-color: transparent;
    color: white;
    padding: 8px 32px 10px;
    font-size: 1.8em;
    /* border: none; */
    border-radius: 24px;
    border-color: white;
    border-width: 2.6px;
    font-weight: 400;
}

.about
{
    background-color: #0C0C0C;
    width: 100%;
    max-height: 120vh;
}

#line img
{
    width: 40%;
}

#triangle img
{
    width: 80%;
    margin-top: 100px;
    margin-left: 12%;
}

#mainNav, #triangle
{
    overflow: hidden;
}

#content div
{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}



#content div h1
{
    font-size: 4em;
    margin-bottom: 70px;
}

#content
{
    position: relative;
    top:0%;
    left:50%;
    transform: translate(-50%, -120%);
    width: 100%;
}

#content div p
{
    font-size: 1.2rem;
    max-width: 90%;
    margin-left: 5%;
   
}

.commitment
{
    width: 100%;
    background-color: #F79737;
    height: 100vh;
}

.up
{
    width:100%;
    margin-bottom: -5px;
}

.down
{
    width: 100%;
    margin-top: -5px;
}

.row
{
    margin: 0;
}


button.navbar-toggler
{
    background-color: white;
}

#zigzag img
{
    float: right;
    margin-right: 10%;
    width: 16%;
}

#square img
{
    width: 90%;
    margin-top: 7%;
}

#com-content div
{
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
}

#com-content div h1
{
    font-size: 4em;
    margin-bottom: 50px;
}

#com-content div p
{
    font-size: 1.2rem;
    max-width: 90%;
    margin-left: 5%;
   
}


.main-commit
{
    position: relative;
    top: 0;
    transform: translate(0%, -23%);
}

#com-content
{
    position: relative;
    top: 0;
    transform: translate(0%, -120%);
    z-index: 5;
    text-align: center;
}

.sponsorship
{
    width:100%;
    background-color: #0C0C0C;
}

#female-pic
{
    max-width: 80%;
    margin: 0 auto;
}

#female-pic img
{
    max-width: 100%;
    position: relative;
    border-radius: 17px;
    transform: translate(0%, -72%);
}

#brochure
{
    max-width: 100%;
}

#brochure img.line
{
    max-width: 100%;
    margin-top: -250px;
}

.brochure-box
{
    max-width: 80%;
    background-color:#4D54EB;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    top:0;
    transform: translate(0%, -185%);
    z-index: 5;
}

.flex-container
{
    display: flex;
}

.flex-container .ribbon
{
    width: 20%;
}

.flex-container .brch
{
    width: 80%;
}

.flex-container .dot
{
    width: 20%;
}

.brochure-box .link
{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.link p
{
    font-size: 3em;
}

.link a
{
    font-size: 2.4em;
    color:white;
    text-decoration: underline;
}

#brochure
{
    padding: 0;
}

.blue-box
{
    display: inline-block;
}

.dot img
{
    position: relative;
    top: 79%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    float: right;
}

.ribbon img
{
    position: relative;
    top: 46%;
    left: 50%;
    transform: translate(-53%, -50%);
    text-align: center;
    height: 50%;
}

.up-curve img
{
    width: 100%;
    margin-bottom: -15px;
}

.up-curve
{
    padding: 0;
}

.faq
{
    background:  #4D54EB;
    padding-top: 80px;
}

.faq-head
{
    width: 100%;
    text-align: center;
}

#lady
{
    text-align: center;
    margin-top: 150px;
}

.bandi
{
    width: 70%;
    margin: 0 auto; 
}

#lady p
{
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.8em;
    padding-top: 40px;
}

.commitment 
{
    padding-top: 0px;
}

.about
{
    padding-top: 0;
}

.collapsible {
    background-color: #4D54EB;
    color: white;
}

.col-md-7
{
    margin-top: 100px;
}

.faq-column
{
    width: 80%;
    margin-left: 15%;
}

.bottom-curve img
{
    width: 100%;
    margin-top: -15px;
}

.bottom-curve
{
    padding: 0;
}

@media screen and (min-width: 768px)
{
    .later
    {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    .bandi
    {
        width: 50%;
    }

    #lady p
    {
        display: none;
    }

    .faq-column
    {
        margin: 0 auto;
    }

    .later
    {
        text-align: center;
    }

    .later p
    {
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.6em;
        padding-top: 50px;
    }
}


@media screen and (min-width: 1300px)
{
    #content div p {
        font-size: 1.2rem;
        max-width: 75%;
        margin-left: 12.5%;
    }

}

@media screen and (max-width: 1300px)
{
    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    #square img {
        width: 100%;
        margin-top: 5%;
    }

    #content
    {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -105%);
        width: 100%;
    }

    #content div
    {
        max-width: 65%;
    }

    .main-commit
    {
        position: relative;
        top: 0;
        transform: translate(0%, -21%);
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -107%);
        z-index: 5;
        text-align: center;
    }

    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -87.5%);
    }

    .brochure-box {
       
        height: 300px;
        transform: translate(0%, -146%);
        z-index: 5;
    }

    .ribbon img
    {
        transform: translate(-47%, -50%);
        max-width: 172%;
    }

    .link p
    {
        font-size: 2.4em;
    }

    .link a
    {
        font-size: 2em;
        color:white;
        text-decoration: underline;
    }


}

@media screen and (max-width: 1100px)
{
    #square img {
        width: 110%;
        margin-top: 10%;
    }

    #content
    {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -112%);
        width: 100%;
    }

    #content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -126%);
        z-index: 5;
        text-align: center;
    }

    #com-content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }
    
    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -93%);
    }

    .brochure-box {
       
        height: 250px;
        transform: translate(0%, -162%);
        z-index: 5;
    }

    .link p
    {
        font-size: 2em;
    }

    .link a
    {
        font-size: 1.6em;
    }

}






@media screen and (max-width: 992px)
{
    #content div
    {
        max-width: 75%;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
    }

    #square img {
        width: 110%;
        margin-top: 26%;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    #triangle img {
        width: 92%;
        margin-top: 100px;
        margin-left: 12%;
    }

    #content div h1 {
        font-size: 4em;
        margin-bottom: 40px;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -116%);
        z-index: 5;
        text-align: center;
    }

    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -100%);
    }

    .brochure-box {
       
        height: 250px;
        transform: translate(0%, -145%);
        z-index: 5;
    }


}

@media screen and (max-width:850px)
{
    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -100%);
        z-index: 5;
        text-align: center;
    }
    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -105%);
    }

    .brochure-box {
        height: 240px;
        transform: translate(0%, -129%);
        z-index: 5;
    }

    .link a {
        font-size: 1.5em;
        
    }

    .link p {
        font-size: 1.8em;
    }
}

@media screen and (max-width:780px)
{

    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -110%);
    }

    #square img {
        width: 130%;
        margin-top: 36%;
    }

    #content div {
        max-width: 80%;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -95%);
        width: 100%;
    }

    #triangle img {
        width: 92%;
        margin-top: 150px;
        margin-left: 12%;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -101%);
        z-index: 5;
        text-align: center;
    }

    .brochure-box {
        height: 225px;
        transform: translate(0%, -132%);
    }

    #brochure img.line {
        max-width: 100%;
        margin-top: -90px;
    }

    .link p
    {
        font-size: 1.6em;
    }

    .link a
    {
        font-size: 1.4em;
    }


}

@media screen and (max-width: 640px)
{
    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -125%);
    }

    #content div h1 {
        font-size: 3.5em;
        margin-bottom: 40px;
    }

    #content div
    {
        max-width: 100%;
    }

    #content div p {
        font-size: 1.6em;
    }

    #com-content div p {
        font-size: 1.6em;
    }

    #com-content div {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #square img {
        width: 118%;
        margin-top: 80%;
    }

    #triangle img {
        width: 100%;
        margin-top: 150px;
        margin-left: 12%;
    }

    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -97%);
        z-index: 5;
        text-align: center;
    }

    .brochure-box {
        height: 200px;
        transform: translate(0%, -115%);
    }

    .link p
    {
        font-size: 1.4em;
    }

    .link a
    {
        font-size: 1.2em;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.8em;
    }
}


@media screen and (max-width: 575px)
{
    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -136%);
    }

    #line img {
        width: 25%;
    }


    #triangle img {
        width: 57%;
        margin-top: 73px;
        margin-left: 14%;
    }

    #com-content div {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }

    #zigzag img
    {
        display: none;
    }

    #square img {
        width: 69%;
        margin-top: 32%;
        margin-left: 18%;
    }

    .heading h1
    {
        font-size: 4em;
    }

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -106%);
        width: 100%;
    }

    #com-content {
    position: relative;
    top: 0;
    transform: translate(0%, -85%);
    z-index: 5;
    text-align: center;
    }

    .brochure-box {
        height: 180px;
        transform: translate(0%, -115%);
    }
}
}

@media screen and (max-width: 500px)
{
    #com-content {
        position: relative;
        top: 0;
        transform: translate(0%, -89%);
        z-index: 5;
        text-align: center;
    }

    #square img {
        width: 81%;
        margin-top: 40%;
        margin-left: 13%;
    }

    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -150%);
    }

    .brochure-box {
        height: 200px;
        transform: translate(0%, -105%);
    }

   
}

@media screen and (max-width: 440px)
{

    .heading
    {
        max-width: 100%;
    }

    #line img {
        width: 25%;
    }

    #triangle img {
        width: 80%;
        margin-top: 165px;
        margin-left: 22%;
    }

    #com-content div {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #com-content {
        z-index: 5;
        text-align: center;
    }

    #com-content div p {
        font-size: 1.6em;
        max-width: 90%;
        margin-left: 5%;
    }

    #zigzag img
    {
        display: none;
    }

    .heading h1
    {
        font-size: 4em;
    }

    #square img {
        width: 100%;
        margin-top: 76%;
        margin-left: 0;
    }

   #com-content {
    position: relative;
    top: 0;
    transform: translate(0%, -80%);
    z-index: 5;
    text-align: center;
}

    #content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
    }

    #triangle img {
        width: 95%;
        margin-top: 130px;
        margin-left: 0%;
    }

    .commitment {
        width: 100%;
        background-color: #F79737;
        height: 124vh;
    }

    #female-pic img {
        max-width: 100%;
        position: relative;
        border-radius: 12px;
        transform: translate(0%, -200%);
    }

    .brochure-box {
        height: 100px;
        transform: translate(0%, -135%);
    }

    .link a {
        font-size: 0.9em;
        color: white;
        text-decoration: underline;
    }

    .link p {
        font-size: 1.0em;
    }

    #brochure img.line {
        max-width: 100%;
        margin-top: -115px;
    }

  

    #lady {
        text-align: center;
        margin-top: 80px;
    }

    .bandi {
        width: 60%;
    }

    .col-md-7 {
        margin-top: 60px;
    }

    .event {
        padding: 0;
        margin-bottom: 24px;
    }

    .event li
    {
        font-size: 1.4em;
    }

    .dev
    {
        font-size: 1.3em;
    }
}

#com-content div p a
{
    color: #ffffff;
}

