
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: #444;
    font-size: 10px;

}

strong {
    color: #333;
}

h1 {
	font-size: 54px;
}
h4 {
    font-size: 34px;
}

.card {
	border-radius: 5px;
	background-color: #ffffff;
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: #fff;
    border-color: #222;
    color: #000;
    border: solid 3px #c22e5e;
}

.card * {
	padding: 8px;
}

.card img {
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 50%;
}

.button {
    position: relative;
    background-color: white;
    color: #333;
    text-align: center;
    margin: 0vh 5px;
    padding: 2vh 3vh;
}

.button a {
    display: block;
}

.apply-button {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: white;
    color: #333;
    text-align: center;
    font-size: 1.2vw;
    margin-top: 30px;
}
.btn1 {
    position: relative;
    display: inline-block;
    width: 8em;
    border: solid 2px #c22e5e;
}

.btn1:hover {
    background-color: #c22e5e;
    color: white;
}

.btn1:active {
    background-color: #c22e5e;
    color: white;
}

.btn2 {
    position: relative;
    width: 30%;
    height: 1%;
    border: solid 2px #f5a71f;
}

.btn2:hover {
    background-color: #f5a71f;
    color: white;
}

.btn3 {
    position: relative;
    display: inline-block;
    width: 30%;
    border: solid 2px #e13f2a;
}

.btn3:hover {
    background-color: #e13f2a;
    color: white;
}


.btn-new {
    background-color: #18BC9C;
    color: #fff;
}

.btn-new:link {
    background-color: #18BC9C;
    color: #fff;
}

.btn-new:visited {
    background-color: #18BC9C;
    color: #fff;
}

.btn-new:hover {
    background-color: #18BC9C;
    color: #fff;
}

.btn-new:active {
    background-color: #18BC9C;
    color: #fff;
}

@keyframes background {
    0% {
        background: #74C390;
    }
    16% {
        background: #5DBDB6;
    }
    33% {
        background: #59D4E1;
    }
    50% {
        background: #51BCE8;
    }
    66% {
        background: #FA5374;
    }
    83% {
        background: #E46653;
    }
    100% {
        background: #74C390;
    }
}

@-webkit-keyframes background {
    0% {
        background: #74C390;
        transform: rotate(0deg);
    }
    16% {
        background: #5DBDB6;
    }
    33% {
        background: #59D4E1;
    }
    50% {
        background: #51BCE8;
    }
    66% {
        background: #FA5374;
    }
    83% {
        background: #E46653;
    }
    100% {
        background: #74C390;
        transform: rotate(360deg);
    }
}
